.container-wrap {
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}

.container {
  width: 100%;
  height: 100%;
}

.c-1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-content: end;
}

.c-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: end;
}
