.container-wrap {
  width: 50vw;
  height: 50vh;
  border: 1px solid black;
}

.container {
  width: 100%;
  height: 100%;
}

/** align-self **/
.self-start {
  align-self: start;
}
.self-center {
  align-self: center;
}
.self-end {
  align-self: end;
}

.c-1 {
  display: flex;
  flex-direction: row;
  /* justify-content: start; */
  /* align-content: start; */
}

.c-2 {
  display: flex;
  flex-direction: column;
}

.c-3 {
  display: flex;
  flex-direction: row;
}

.c-4 {
  display: flex;
  flex-direction: column;
}

.c-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-7 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.c-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.c-9 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: end;
}

.c-10 {
  display: flex;
  flex-direction: row;
}
