body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/* containerクラスのCSSを指定してください */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}



/* top-wrapperクラスのCSSを指定してください */
.top-wrapper {
  padding-top: 180px;
  padding-bottom: 100px;
  background-image: url("https://prog-8.com/images/html/advanced/top.png");
  background-size: cover;
  color: white;
}