.container-wrap {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-content: end;
  flex-wrap: wrap;
  /* align-items: start; */
}

.item {
  color: white;
  /* display: inline-block; */
}